extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Vinson McCready

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I am an aspiring full stack web developer. After getting a bachelors in Aerospace Engineering I realized that
            | I wasn't particularly interested in it. I know, probably not the best time to think about a career change. 
            | I took some time to get to know myself and ran into an old friend that had started his career in web development. I was
            | hooked! I had been exposed to simple programming used for calculations, but now I found my calling. Using projects like
            | the ones showcased in this portfolio, I am honing my skills to be a full fledged full stack developer.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li JavaScript
          li HTML
          li CSS
          li JQuery
          li Node.js 
          li npm
          li Git
          li Express.js
          li AJAX
          li pug
        h6 Contact Info
        ul
          //- li 555-555-1234
          li vinson.mcc@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/vinson-mccready-192376110/') LinkedIn
        a.button.expanded(href='https://github.com/vmccready') GitHub
        //- a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  